.header {
    background-color: #CE2829;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 4rem;
}

.header > img {
    margin: auto;
    align-items: center;
}